@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}

body {
    background-color: blue;
    background: linear-gradient(rgba(31, 195, 160, 0.1), rgba(31, 195, 160, 0.1)), url(https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg?size=626&ext=jpg&ga=GA1.2.2061399279.1632096000) no-repeat center center fixed;
    background-size: cover;
    background-size: cover;
}

/* Background page */

.background-page {
    width: 90vw;
    min-width: 1500px;
    height: 85vh;
    min-height: 700px;
    margin: 100px;
    box-shadow: 1px 1px 20px rgb(175, 175, 175);
    background-color: white;
    padding: 50px;
}

/* end of background page */

/* Header */

.upper {
    padding: 50px 100px 0 0px;
    border: 1px solid greenyellow;
    margin: 0px 0 0 120px;

}


header {
    width: 40%;
    display: inline-block;
    border: 1px solid black;
}

header h1 {
    width: 400px;
    font-size: 40px;
    color: hsl(302, 62%, 20%);
    font-weight: 900;
    line-height: 2.6rem;
    margin-bottom: 10px;
}

header p {
    width: 500px;
}

/* End of header */

/* Reviews */

.reviews {
    display: inline-block;
    vertical-align: top;
    margin-left: 300px;
    border: 1px solid black;
    
}

.reviews .box {
    background-color: rgb(238, 238, 238);
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 15px 50px 15px 30px;
    justify-content: center;
    display: flex;
    
    
} 

.box span {
    color: goldenrod;
}

.box-1 {
    position: relative;
    left: 0px;
}

.box-2 {
    position: relative;
    left: 80px;
}

.box-3 {
    position: relative;
    left: 120px;
}



/* End of reviews */

/* Comments */

.comments {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 0px 0 0 120px;
}


.comments .customer:nth-of-type(2) {
    margin-top: 40px;
}

.comments .customer:nth-of-type(3) {
    margin-top: 80px;
}



.customer {
    width: 400px;
padding: 30px 30px 70px 30px;
background-color: hsl(302, 62%, 20%);
border-radius: 10px;
}

.paragraph {
    color: white;
    margin-top: 20px;
    font-size: 0.8rem;
}


.customer h4 {
    color: white;
    font-size: 0.8rem;
    margin-top: 5px;
}

h4 + p {
    color: rgb(192, 7, 192);
    font-size: 0.8rem;
}


.customer img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left; margin-right: 15px;
}

/* end of comments */

